<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aigirlfriend.virtuallove">


    <uses-sdk tools:overrideLibrary="com.apero.firstopen" />


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService"/>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name="com.aigirlfriend.virtuallove.ads.MyApplication"
        android:requestLegacyExternalStorage="true"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ThemeChatAiGirlFriend">


        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4973559944609228~4547469927"/>
        <meta-data
            android:name="com.google.android.gms.ads.DELAY_APP_MEASUREMENT_INIT"
            android:value="true"/>

        <meta-data
            android:name="applovin.sdk.key"
            android:value="@string/applovin_sdk_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="05f995e279202d0bb21476377723d4ad"/>
        <meta-data
            android:name="com.google.android.gms.ads.TEST_MODE"
            android:value="true"/>

        <activity
            android:name="com.aigirlfriend.virtuallove.splashAds.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".onboarding.OnboardingScreen1Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onboarding.OnboardingScreen2Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onboarding.OnboardingScreen3Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onboarding.OnboardingScreen4Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aigirlfriend.virtuallove.splashAds.PrivacyTermsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name="com.aigirlfriend.virtuallove.splashAds.LanguageActivity" />
        <activity
            android:name="com.aigirlfriend.virtuallove.MainActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name="com.aigirlfriend.virtuallove.ui.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.aigirlfriend.virtuallove.ui.ChatActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustResize" />


    </application>

</manifest>